@media screen and (max-width: 768px) {
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    box-shadow: 1px 0 40px -4px rgba(69,0,130,0.87) inset;
-webkit-box-shadow: 1px 0 40px -4px rgba(69,0,130,0.87) inset;
-moz-box-shadow: 1px 0 40px -4px rgba(69,0,130,0.87) inset;
height: calc(var(--vh, 1vh) * 100);
overflow: hidden; 
}

#back {
    opacity: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh , 1vh) * 100);
}
#mid {
    text-align: center;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}
#image {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
.ime {
    font-size: 24px;
    color: transparent;
    font-weight: bold;
    background: linear-gradient(to right, #fff 0%, #262626 50%, #fff 100%);
    background-size: 1000px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5s infinite linear;
}
@keyframes animate {
        0%{
        background-position: -500px;
        }
        100%{
        background-position: 500px;
        }
}
#ime2 {
    font-size: 18px;
    color: white;
}

#job {
    font-size: 16px;
    color: #d3d3d3;
    margin-top: 20px;
}

#sidebar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}
.ig {
    width: 30px;
    height: 30px;
    filter: invert(1);
}
#next {
    visibility: hidden;
    margin-top: 20px;
    width: 40px;
}
}
